# Node & Build
node_modules/
dist/

# SNAP Local Data Ignore
.snap_config.json
notes_db.json
snap_export.json
.env

# Track package manifests & samples
!package.json
!package-lock.json
!samples/*.json
